@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*========================================================================= Home =========================================================================*/

.container-header {
    background-color: #f1f1f1;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    border-bottom: #DBDBDB;
    border-bottom-style: inset;
    z-index: 9999;
}

.conteudo-header{
    width: 90%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu{
    width: 65%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 20%;
    display: flex;
    align-items: center;
}

.logo img {
    width: 100%;
}

.menu-click {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #3a3a3a;
}

.entrar{
    width: 12%;
    height: 50%;
    background-color: #A8DAF9;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #3a3a3a;
}

.banner {
    width: 100%;
    height: 770px;
    background-image: linear-gradient(to bottom, rgb(69 60 210 / 40%), rgb(15 229 255 / 53%)), url('../assets/banner.jpg');
    background-size: cover;
    border: none;
    display: flex;
    justify-content: center;
    border-bottom: #DBDBDB;
    border-bottom-style: inset;
}

.banner-container {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.textos-banner {
    display: block;
}

.banner-container h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    font-weight: 300;
    letter-spacing: 0em;
    width: 60%;
    color: white;
    margin-bottom: 1%;
}

.banner-container p {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: normal;
    letter-spacing: 0em;
    width: 60%;
    color: white;
}

.unidades-home {
    width: 100%;
    height: 140px;
    background-color: #C3F0DD;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: #DBDBDB;
    border-bottom-style: inset;
}

.unidades-home-container {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.unidades-uppercase {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: normal;
    letter-spacing: 0em;
    color: #3a3a3a;
}

.clinicas-home {
    height: 60%;
    width: 20%;
    display: block;
    justify-content: center;
    align-items: center;
}

.nome-clinica {
    text-decoration: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: normal;
    letter-spacing: 0em;
    color: #3a3a3a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dados-clinica {
    text-decoration: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0em;
    color: #3a3a3a;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}

.fundo-home {
    width: 100%;
    height: 1500px;
    background-color: #E5E5E5;
    display: grid;
    align-items: center;
}

.fundo1 {
    height: 750px;
    width: 100%;
    background-color: #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fundo2 {
    height: 750px;
    width: 100%;
    background-color: #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.retangulo-torto {
    width: 100%;
    height: 60%;
    -webkit-transform: skew(20deg);
    background: #C1E8EE;
    transform: skewY(-4deg);
    display: flex;
    justify-content: center;
    border: #00C6E0;
    border-style: solid;
}

.retangulo-torto-container {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.medico-sobre {
    border: #00C6E0;
    border-style: solid;
    object-fit: cover;
    height: 65%;
    width: 30%;
    border-radius: 15%;
    transform: skewY(4deg);
}

.textos-sobre {
    height: 65%;
    width: 50%;
    display: grid;
    align-items: center;
    justify-content: center;
    transform: skewY(4deg);
}

.titulo-sobre {
    text-decoration: none;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 200%;
    font-weight: 400;
    letter-spacing: 0em;
    color: #3a3a3a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-sobre {
    text-decoration: none;
    text-align: justify;
    font-family: 'Ubuntu', sans-serif;
    font-size: 140%;
    font-weight: normal;
    letter-spacing: 0em;
    color: #3a3a3a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nossas-especialidades {
    width: 100%;
    height: 100%;
}

.titulo-nossas-especialidades{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.titulo-nossas-especialidades p {
    text-decoration: none;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 250%;
    font-weight: 400;
    letter-spacing: 0em;
    color: #3a3a3a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.especialidades-home {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.especialidades-home-container {
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quadrado-especialidade {
    width: 30%;
    height: 80%;
    background-color: #C3F0DD;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.img-especialidade {
    width: 50%;
    height: 100%;
    background-color: #CCCCCC;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-especialidade img {
    height: 50%;
    width: auto;
}

.txt-especialidade {
    width: 45%;
    height: 90%;
    display: grid;
    align-items: center;
    justify-items: center;
}

.titulo-txt-especialidade {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 125%;
    font-weight: normal;
    letter-spacing: 0em;
    color: #3a3a3a;
}

.texto-txt-especialidade {
    height: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    font-weight: normal;
    letter-spacing: 0em;
    width: 85%;
    color: #3a3a3a;
}

.ver-todas {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
}

.ver-todas-container {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: right;
}

.ver-todas-botao {
    height: 10%;
    display: flex;
    justify-content: right;
}

.ver-todas-botao a {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    font-weight: normal;
    letter-spacing: 0em;
    color: #3a3a3a;
}

footer {
    background-color: #FFFFFF;
    width: 100%;
    height: 200px;
    border-top: #dbdbdb;
    border-top-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-width: thick;
}

footer p {
    color: #3a3a3a;
    font-family: 'Roboto', sans-serif;
    font-size: 130%;
    font-weight: normal;
    letter-spacing: 0em;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*========================================================================= Login =========================================================================*/

.header-login {
    background-color: #f1f1f1;
    width: 100%;
    height: 140px;
    border-bottom: #dbdbdb;
    border-bottom-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-width: thick;
}

.logo-header-login {
    width: 14%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-header-login img {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-login {
    width: 100%;
    height: 900px;
    background-color: #D4EFF3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo-main-login {
    width: 55%;
    height: 80%;
    background-color: #F1F1F1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: #dbdbdb;
    border-width: thick;
    border-radius: 60px;
    box-shadow: 25px 25px 50px 0px #00000033;
}

.conteudo-main-login-container {
    width: 80%;
    height: 100%;
}

.para-continuar {
    display: flex;
    align-items: flex-end;
    justify-items: left;
    height: 12%;
    color: #3a3a3a;
    font-family: 'Roboto', sans-serif;
    font-size: 130%;
    font-weight: normal;
    letter-spacing: 0em;
}

.google {
    text-decoration: none;
    text-transform: uppercase;
    color: #878787;
    font-family: 'Roboto', sans-serif;
    font-size: 120%;
    font-weight: 500;
    letter-spacing: 0em;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 50px;
    border: #dbdbdb;
    border-style: solid;
    height: 8%;
    margin-top: 3%;
}

.google img {
    width: 3%;
    height: auto;
    margin-right: 2%;
}

.linha {
    width: 40%;
    background-color: #3a3a3a;
    height: 1px;
}

.ou {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #3a3a3a;
    font-family: 'Roboto', sans-serif;
    font-size: 140%;
    font-weight: normal;
    letter-spacing: 0em;
    height: 15%;
}

.email-senha {
    color: #3a3a3a;
    font-family: 'Roboto', sans-serif;
    font-size: 130%;
    font-weight: normal;
    letter-spacing: 0em;
}

.caixa {
    background-color: #FFFFFF;
    border: #dbdbdb;
    border-style: solid;
    height: 8%;
    margin-top: 2%;
    margin-bottom: 5%;
    width: 100%;
}

.senha-lembrar {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.esqueceu {
    text-transform: capitalize;
    color: #3a3a3a;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 0em;
}

.lembrar {
    display: flex;
    justify-content: space-between;
    color: #3a3a3a;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 0em;
    height: 100%;
    width: 180px;
}

.lembrar-quadrado {
    background-color: #ffffff;
    width: 25px;
    height: 25px;
    border-radius: 30%;
    border: #dbdbdb;
    border-style: solid;
}

.entrar-container {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.entrar-login {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #3a3a3a;
    font-family: 'Roboto', sans-serif;
    font-size: 140%;
    font-weight: normal;
    letter-spacing: 0em;
    width: 30%;
    height: 85%;
    background-color: #C3F0DD;
    border-radius: 50px;
    border: #dbdbdb;
    border-style: solid;
    text-decoration: none;
}

.espaco-vazio {
    width: 100%;
    height: 100px;
}

/*========================================================================= Médicos =========================================================================*/

.banner-medicos {
    width: 100%;
    height: 220px;
    background-image: url('../assets/banner-medicos.png');
    background-size: cover;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    border-bottom: #dbdbdb;
    border-bottom-style: solid;
    border-bottom-width: thick;
}

.banner-medicos h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    color: white;
    text-shadow: 8px 8px 3px rgb(0 0 0 / 25%);
}

.main-medicos {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5E5E5;
}

.conteudo-main-medicos {
    width: 90%;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.espaco-medicos {
    width: 70%;
    height: fit-content;
}

.espaco-consulta {
    width: 20%;
    height: fit-content;
}

.caixa-medico {
    width: 90%;
    height: 250px;
    border: #DBDBDB;
    border-style: solid;
    border-radius: 50px;
    background-color: #D4EFF3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    filter: drop-shadow(25px 25px 50px rgba(0, 0, 0, 0.2));
    margin-bottom: 15%;
}

.foto-medico-container {
    width: 23%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto-medico-container img {
    width: 60%;
    height: auto;
}

.circulo-perfil-medico {
    height: 175px;
    width: 175px;
    border-radius: 100%;
    background-color: #ffffff;
    border: #DBDBDB;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(25px 25px 50px rgba(0, 0, 0, 0.2));
}

.informacoes-medico {
    width: 50%;
    height: 60%;
    justify-content: space-around;
    align-items: flex-start;
}

.titulo-medico {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 150%;
}

.linha-medico {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linha-medico div {
    width: 100%;
    height: 1.5px;
    background-color: #3a3a3a;
}

.espe-cli-medico {
    align-items: center;
    justify-content: left;
    display: flex;
    width: 100%;
    height: 25%;
}

.espe-cli-medico1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    font-size: 135%;
    color: #3a3a3a;
    margin-right: 2%;
}

.espe-cli-medico2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 135%;
    color: #3a3a3a;
}

.espaco-vazio-medicos {
    width: 100%;
    height: 130px;
}

.marque-uma-consulta {
    width: 90%;
    height: 450px;
    border-radius: 50px;
    filter: drop-shadow(25px 25px 50px rgba(0, 0, 0, 0.2));
    background-color: #ffffff;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 100px;
}

.img-marque-uma-consulta {
    height: 40%;
    width: 100%;
    background-image: url('../assets/marques.png');
    background-size: cover;
    background-position-x: center;
    border-radius: 50px;
}

.titulo-marque-uma-consulta {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}

.titulo-marque-uma-consulta p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 161%;
    font-weight: 400;
    text-align: center;
}

.txt-marque-uma-consulta {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}

.txt-marque-uma-consulta p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    font-weight: 400;
    text-align: left;
}

/*========================================================================= Unidades =========================================================================*/

.banner-unidades {
    width: 100%;
    height: 220px;
    background-image: url('../assets/banner-unidades.png');
    background-size: cover;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    border-bottom: #dbdbdb;
    border-bottom-style: solid;
    border-bottom-width: thick;
}

.banner-unidades h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    color: white;
    text-shadow: 8px 8px 3px rgb(0 0 0 / 25%);
}

.main-unidades {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #E5E5E5;
}

.conteudo-main-unidades {
    width: 60%;
    height: fit-content;
}

.caixa-unidades {
    width: 100%;
    height: 270px;
    border: #DBDBDB;
    border-style: solid;
    border-radius: 50px;
    background-color: #D4EFF3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    filter: drop-shadow(25px 25px 50px rgba(0, 0, 0, 0.2));
    margin-bottom: 15%;
}

.conteudo-caixa-unidades {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo-caixa-unidades2 {
    width: 88%;
    height: 100%;
}

.end-hor-unidades {
    align-items: center;
    justify-content: left;
    display: flex;
    width: 100%;
    height: 20%;
}

.titulo-unidades {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 200%;
    color: #3a3a3a;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
    margin-bottom: 6%;
}

.end-hor-unidades1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    font-size: 135%;
    color: #3a3a3a;
    margin-right: 2%;
}

.end-hor-unidades2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 135%;
    color: #3a3a3a;
}

.mapa {
    width: 270px;
    height: 270px;
    background-image: url('../assets/mapa.png');
    background-size: cover;
    border-radius: 50px;
    border-left-style: solid;
    border-left-color: #dbdbdb;
    border-bottom-style: solid;
    border-bottom-color: #dbdbdb;
    border-top-style: solid;
    border-top-color: #dbdbdb;
}

/*========================================================================= Especialidades =========================================================================*/

.banner-especialidades {
    width: 100%;
    height: 220px;
    background-image: url('../assets/banner-especialidades.png');
    background-size: cover;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    border-bottom: #dbdbdb;
    border-bottom-style: solid;
    border-bottom-width: thick;
}

.banner-especialidades h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    color: white;
    text-shadow: 8px 8px 3px rgb(0 0 0 / 25%);
}

.imagem-especialidade {
    width: 270px;
    height: 270px;
    border-radius: 50px;
    background-color: #C4C4C4;
    max-width: 250px;
    max-height: 102%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem-especialidade img {
    width: 220px;
    height: 220px;
}

.caixa-especialidade {
    width: 90%;
    height: 250px;
    border: #DBDBDB;
    border-style: solid;
    border-radius: 50px;
    background-color: #D4EFF3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    filter: drop-shadow(25px 25px 50px rgba(0, 0, 0, 0.2));
    margin-bottom: 15%;
}

.conteudo-especialidade {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.conteudo-especialidade h3 {
    width: 90%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-end;
    color: #3a3a3a;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
}

.conteudo-especialidade div{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    color: #3a3a3a;
}

.conteudo-especialidade div div{
    height: 1.5px;
    width: 100%;
    background-color: #3a3a3a;
}

.conteudo-especialidade p {
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    color: #3a3a3a;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
}

.conteudo-especialidade a {
    width: 90%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    color: #3a3a3a;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-decoration-line: underline;
    font-family: 'Montserrat', sans-serif;
}

/*========================================================================= Consultas - Cliente =========================================================================*/

.banner-consultas {
    width: 100%;
    height: 220px;
    background-image: url('../assets/banner-consultas.png');
    background-size: cover;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    border-bottom: #dbdbdb;
    border-bottom-style: solid;
    border-bottom-width: thick;
}

.banner-consultas h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    color: white;
    text-shadow: 8px 8px 3px rgb(0 0 0 / 25%);
}

.main-consultas {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #E5E5E5;
}

.conteudo-main-consultas1 {
    width: 75%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #B8F0D8;
    border: 2px solid #DBDBDB;
    box-sizing: border-box;
    box-shadow: 25px 25px 50px rgb(0 0 0 / 20%);
    border-radius: 50px;
    margin-top: 130px;
    margin-bottom: 100px;
}

.conteudo-main-consultas1 h2 {
    width: 60%;
    align-self: center;
    margin: 50px 0 35px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
    color: #3a3a3a;
}

.dados-consultas {
    color: #3a3a3a;
    font-family: 'Roboto', sans-serif;
    font-size: 130%;
    font-weight: normal;
    width: 60%;
    align-self: center;
    margin-bottom: 10px;
}

.caixa-consultas {
    background-color: #FFFFFF;
    border: #dbdbdb;
    border-style: solid;
    width: 60%;
    align-self: center;
    height: 50px;
    margin-bottom: 30px;
}

.barra-especialidade {
    display: flex;
    width: 60%;
    align-self: center;
    height: 70px;
    margin-bottom: 30px;
    border-radius: 50px;
    background-color: #FFFFFF;
    border: #dbdbdb;
    border-style: solid;
    justify-content: center;
}

.barra-especialidade select {
    display: flex;
    width: 95%;
    height: 70px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #3a3a3a;
    border-radius: 50px;
    background: none;
    border: none;
    align-self: center;
    justify-self: center;
    outline: none;
}

.barra-especialidade select option {
    background-color: #ffffff;
}

.enviar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #3a3a3a;
    font-family: 'Roboto', sans-serif;
    font-size: 140%;
    font-weight: normal;
    width: 180px;
    height: 60px;
    background-color: #f1f1f1;
    border-radius: 50px;
    border: #dbdbdb;
    border-style: solid;
    border-width: 2px;
    text-decoration: none;
    margin-bottom: 30px;
    margin-top: 10px;
}

.conteudo-main-consultas2 {
    width: 75%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.conteudo-main-consultas2 h2 {
    display: flex;
    align-items: center;
    justify-content: left;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    text-align: center;
    color: #3A3A3A;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
}

.linha-suas-consultas {
    width: 40%;
    background-color: #3a3a3a;
    height: 1px;
    margin-top: 30px;
    margin-bottom: 80px;
}

.caixa-suas-consultas {
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #D4EFF3;
    border: 2px solid #DBDBDB;
    box-sizing: border-box;
    box-shadow: 25px 25px 50px rgb(0 0 0 / 20%);
    border-radius: 50px;
    margin-bottom: 100px;
}

.conteudo-suas-consultas {
    width: 90%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.descricao-suas-consultas {
    width: 90%;
    height: 150px;
    background-color: #FFFFFF;
    border: 2px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo-suas-consultas1 {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.conteudo-suas-consultas2 {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.dado-suas-consultas {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: center;
}

.dado-suas-consultas span {
    width: fit-content;
    height: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #3A3A3A;
    font-family: 'Roboto', sans-serif;
    margin-right: 10px;
}

.dado-suas-consultas p {
    width: fit-content;
    height: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #3A3A3A;
    font-family: 'Roboto', sans-serif;
}

.descricao-suas-consultas p {
    width: 90%;
    height: 75%;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #3A3A3A;
    font-family: 'Roboto', sans-serif;
    word-break: break-word;
    text-align: justify;
    display: flex;
    align-items: flex-start;
    max-height: 100%;
}

.situacao-consulta {
    width: fit-content;
    height: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #3A3A3A;
    font-family: 'Roboto', sans-serif;
}

.data-consulta {
    display: flex;
    justify-content: right;
    align-items: center;
}

.data-consulta span {
    width: fit-content;
    height: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #3A3A3A;
    font-family: 'Roboto', sans-serif;
    margin-right: 10px;
}

.data-consulta p {
    width: fit-content;
    height: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #3A3A3A;
    font-family: 'Roboto', sans-serif;
}

/*========================================================================= Consultas - Médico =========================================================================*/


.conteudo-main-consultas-medico {
    width: 75%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 130px;
}

.conteudo-main-consultas-medico h2 {
    display: flex;
    align-items: center;
    justify-content: left;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    text-align: center;
    color: #3A3A3A;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
}

.descricao-suas-consultas-medico {
    width: 90%;
    height: 150px;
    background-color: #FFFFFF;
    border: 2px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.descricao-suas-consultas-medico input {
    width: 95%;
    height: 50%;
    background: none;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #B9B9B9;
}

.descricao-suas-consultas-medico input::placeholder {
    color: #B9B9B9;
}

/*========================================================================= Consultas - Administrador =========================================================================*/

.barra-data {
    display: flex;
    width: 20%;
    height: 70px;
    margin-bottom: 30px;
    border-radius: 50px;
    background-color: #FFFFFF;
    border: #dbdbdb;
    border-style: solid;
    justify-content: center;
    align-self: flex-start;
    margin-left: 20%;
}

.barra-data input {
    display: flex;
    width: 80%;
    height: 70px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #3a3a3a;
    border-radius: 50px;
    background: none;
    border: none;
    align-self: center;
    justify-self: center;
    outline: none;
}
