@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Ubuntu:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*========================================================================= Home =========================================================================*/

.container-header {
    background-color: #f1f1f1;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    border-bottom: #DBDBDB;
    border-bottom-style: inset;
    z-index: 9999;
}

.conteudo-header{
    width: 90%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu{
    width: 65%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 20%;
    display: flex;
    align-items: center;
}

.logo img {
    width: 100%;
}

.menu-click {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #3a3a3a;
}

.entrar{
    width: 12%;
    height: 50%;
    background-color: #A8DAF9;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #3a3a3a;
}

.banner {
    width: 100%;
    height: 770px;
    background-image: linear-gradient(to bottom, rgb(69 60 210 / 40%), rgb(15 229 255 / 53%)), url(assest-css/banner.jpg);
    background-size: cover;
    border: none;
    display: flex;
    justify-content: center;
    border-bottom: #DBDBDB;
    border-bottom-style: inset;
}

.banner-container {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.textos-banner {
    display: block;
}

.banner-container h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    font-weight: 300;
    letter-spacing: 0em;
    width: 60%;
    color: white;
    margin-bottom: 1%;
}

.banner-container p {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: normal;
    letter-spacing: 0em;
    width: 60%;
    color: white;
}

.unidades-home {
    width: 100%;
    height: 140px;
    background-color: #C3F0DD;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: #DBDBDB;
    border-bottom-style: inset;
}

.unidades-home-container {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.unidades-uppercase {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: normal;
    letter-spacing: 0em;
    color: #3a3a3a;
}

.clinicas-home {
    height: 60%;
    width: 20%;
    display: block;
    justify-content: center;
    align-items: center;
}

.nome-clinica {
    text-decoration: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: normal;
    letter-spacing: 0em;
    color: #3a3a3a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dados-clinica {
    text-decoration: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0em;
    color: #3a3a3a;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}

.fundo-home {
    width: 100%;
    height: 1500px;
    background-color: #E5E5E5;
    display: grid;
    align-items: center;
}

.fundo1 {
    height: 750px;
    width: 100%;
    background-color: #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fundo2 {
    height: 750px;
    width: 100%;
    background-color: #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.retangulo-torto {
    width: 100%;
    height: 60%;
    -webkit-transform: skew(20deg);
    background: #C1E8EE;
    transform: skewY(-4deg);
    display: flex;
    justify-content: center;
    border: #00C6E0;
    border-style: solid;
}

.retangulo-torto-container {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.medico-sobre {
    border: #00C6E0;
    border-style: solid;
    object-fit: cover;
    height: 65%;
    width: 30%;
    border-radius: 15%;
    transform: skewY(4deg);
}

.textos-sobre {
    height: 65%;
    width: 50%;
    display: grid;
    align-items: center;
    justify-content: center;
    transform: skewY(4deg);
}

.titulo-sobre {
    text-decoration: none;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 200%;
    font-weight: 400;
    letter-spacing: 0em;
    color: #3a3a3a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-sobre {
    text-decoration: none;
    text-align: justify;
    font-family: 'Ubuntu', sans-serif;
    font-size: 140%;
    font-weight: normal;
    letter-spacing: 0em;
    color: #3a3a3a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nossas-especialidades {
    width: 100%;
    height: 100%;
}

.titulo-nossas-especialidades{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.titulo-nossas-especialidades p {
    text-decoration: none;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 250%;
    font-weight: 400;
    letter-spacing: 0em;
    color: #3a3a3a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.especialidades-home {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.especialidades-home-container {
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quadrado-especialidade {
    width: 30%;
    height: 80%;
    background-color: #C3F0DD;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-especialidade {
    width: 50%;
    height: 100%;
    background-color: #CCCCCC;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-especialidade img {
    height: 50%;
    width: auto;
}

.txt-especialidade {
    width: 50%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
}

.titulo-txt-especialidade {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
    font-weight: normal;
    letter-spacing: 0em;
    color: #3a3a3a;
}

.texto-txt-especialidade {
    height: 85%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    font-weight: normal;
    letter-spacing: 0em;
    width: 80%;
    color: #3a3a3a;
}

.ver-todas {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
}

.ver-todas-container {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: right;
}

.ver-todas-botao {
    height: 10%;
    display: flex;
    justify-content: right;
}

.ver-todas-botao a {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    font-weight: normal;
    letter-spacing: 0em;
    color: #3a3a3a;
}

footer {
    background-color: #FFFFFF;
    width: 100%;
    height: 200px;
    border-top: #dbdbdb;
    border-top-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-width: thick;
}

footer p {
    color: #3a3a3a;
    font-family: 'Roboto', sans-serif;
    font-size: 130%;
    font-weight: normal;
    letter-spacing: 0em;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*========================================================================= Login =========================================================================*/

.header-login {
    background-color: #f1f1f1;
    width: 100%;
    height: 140px;
    border-bottom: #dbdbdb;
    border-bottom-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-width: thick;
}

.logo-header-login {
    width: 14%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-header-login img {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-login {
    width: 100%;
    height: 900px;
    background-color: #D4EFF3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo-main-login {
    width: 55%;
    height: 80%;
    background-color: #F1F1F1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: #dbdbdb;
    border-width: thick;
    border-radius: 60px;
    box-shadow: 25px 25px 50px 0px #00000033;
}

.conteudo-main-login-container {
    width: 80%;
    height: 100%;
}

.para-continuar {
    display: flex;
    align-items: flex-end;
    justify-items: left;
    height: 12%;
    color: #3a3a3a;
    font-family: 'Roboto', sans-serif;
    font-size: 130%;
    font-weight: normal;
    letter-spacing: 0em;
}

.google {
    text-decoration: none;
    text-transform: uppercase;
    color: #878787;
    font-family: 'Roboto', sans-serif;
    font-size: 120%;
    font-weight: 500;
    letter-spacing: 0em;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 50px;
    border: #dbdbdb;
    border-style: solid;
    height: 8%;
    margin-top: 3%;
}

.google img {
    width: 3%;
    height: auto;
    margin-right: 2%;
}

.linha {
    width: 40%;
    background-color: #3a3a3a;
    height: 1px;
}

.ou {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #3a3a3a;
    font-family: 'Roboto', sans-serif;
    font-size: 140%;
    font-weight: normal;
    letter-spacing: 0em;
    height: 15%;
}

.email-senha {
    color: #3a3a3a;
    font-family: 'Roboto', sans-serif;
    font-size: 130%;
    font-weight: normal;
    letter-spacing: 0em;
}

.caixa {
    background-color: #FFFFFF;
    border: #dbdbdb;
    border-style: solid;
    height: 8%;
    margin-top: 2%;
    margin-bottom: 5%;
    width: 100%;
}

.senha-lembrar {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.esqueceu {
    text-transform: capitalize;
    color: #3a3a3a;
    font-family: 'Roboto', sans-serif;
    font-size: 140%;
    font-weight: normal;
    letter-spacing: 0em;
}

.lembrar {
    display: flex;
    justify-content: space-between;
    color: #3a3a3a;
    font-family: 'Roboto', sans-serif;
    font-size: 140%;
    font-weight: normal;
    letter-spacing: 0em;
    height: 100%;
    width: 30%;
}

.lembrar-quadrado {
    background-color: #ffffff;
    width: 14.4%;
    height: 40%;
    border-radius: 30%;
    border: #dbdbdb;
    border-style: solid;
}

.entrar-container {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.entrar-login {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #3a3a3a;
    font-family: 'Roboto', sans-serif;
    font-size: 140%;
    font-weight: normal;
    letter-spacing: 0em;
    width: 30%;
    height: 85%;
    background-color: #C3F0DD;
    border-radius: 50px;
    border: #dbdbdb;
    border-style: solid;
    text-decoration: none;
}

.espaco-vazio {
    width: 100%;
    height: 100px;
}

/*========================================================================= Médicos =========================================================================*/

.banner-medicos {
    width: 100%;
    height: 220px;
    background-image: url(assest-css/banner-medicos.png);
    background-size: cover;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    border-bottom: #dbdbdb;
    border-bottom-style: solid;
    border-bottom-width: thick;
}

.banner-medicos h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    color: white;
    text-shadow: 8px 8px 3px rgb(0 0 0 / 25%);
}

.main-medicos {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5E5E5;
}

.conteudo-main-medicos {
    width: 90%;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.espaco-medicos {
    width: 70%;
    height: fit-content;
}

.espaco-consulta {
    width: 20%;
    height: fit-content;
}

.caixa-medico {
    width: 90%;
    height: 250px;
    border: #DBDBDB;
    border-style: solid;
    border-radius: 50px;
    background-color: #D4EFF3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    filter: drop-shadow(25px 25px 50px rgba(0, 0, 0, 0.2));
    margin-bottom: 15%;
}

.foto-medico-container {
    width: 23%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto-medico-container img {
    width: 60%;
    height: auto;
}

.circulo-perfil-medico {
    width: 93%;
    height: 75%;
    border-radius: 100%;
    background-color: #ffffff;
    border: #DBDBDB;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(25px 25px 50px rgba(0, 0, 0, 0.2));
}

.informacoes-medico {
    width: 50%;
    height: 60%;
    justify-content: space-around;
    align-items: flex-start;
}

.titulo-medico {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 150%;
}

.linha-medico {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linha-medico div {
    width: 100%;
    height: 1.5px;
    background-color: #3a3a3a;
}

.espe-cli-medico {
    align-items: center;
    justify-content: left;
    display: flex;
    width: 100%;
    height: 25%;
}

.espe-cli-medico1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    font-size: 135%;
    color: #3a3a3a;
    margin-right: 2%;
}

.espe-cli-medico2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 135%;
    color: #3a3a3a;
}

.espaco-vazio-medicos {
    width: 100%;
    height: 130px;
}

.marque-uma-consulta {
    width: 90%;
    height: 450px;
    border-radius: 50px;
    filter: drop-shadow(25px 25px 50px rgba(0, 0, 0, 0.2));
    background-color: #ffffff;
    justify-content: center;
    align-items: flex-start;
}

.img-marque-uma-consulta {
    height: 40%;
    width: 100%;
    background-image: url(assest-css/marques.png);
    background-size: cover;
    border-radius: 50px;
}

.titulo-marque-uma-consulta {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}

.titulo-marque-uma-consulta p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 161%;
    font-weight: 400;
    text-align: center;
}

.txt-marque-uma-consulta {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}

.txt-marque-uma-consulta p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 120%;
    font-weight: 400;
    text-align: left;
}

/*========================================================================= Unidades =========================================================================*/

.banner-unidades {
    width: 100%;
    height: 220px;
    background-image: url(assest-css/banner-unidades.png);
    background-size: cover;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    border-bottom: #dbdbdb;
    border-bottom-style: solid;
    border-bottom-width: thick;
}

.banner-unidades h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    color: white;
    text-shadow: 8px 8px 3px rgb(0 0 0 / 25%);
}

.main-unidades {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #E5E5E5;
}

.conteudo-main-unidades {
    width: 60%;
    height: fit-content;
}

.caixa-unidades {
    width: 100%;
    height: 270px;
    border: #DBDBDB;
    border-style: solid;
    border-radius: 50px;
    background-color: #D4EFF3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    filter: drop-shadow(25px 25px 50px rgba(0, 0, 0, 0.2));
    margin-bottom: 15%;
}

.conteudo-caixa-unidades {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo-caixa-unidades2 {
    width: 80%;
    height: 100%;
}

.end-hor-unidades {
    align-items: center;
    justify-content: left;
    display: flex;
    width: 100%;
    height: 20%;
}

.titulo-unidades {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 200%;
    color: #3a3a3a;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
    margin-bottom: 6%;
}

.end-hor-unidades1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    font-size: 135%;
    color: #3a3a3a;
    margin-right: 2%;
}

.end-hor-unidades2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 135%;
    color: #3a3a3a;
}

.mapa {
    width: 30%;
    height: 100%;
    background-image: url(assest-css/mapa.png);
    background-size: cover;
    border-radius: 50px;
    border-left-style: solid;
    border-left-color: #dbdbdb;
    border-bottom-style: solid;
    border-bottom-color: #dbdbdb;
    border-top-style: solid;
    border-top-color: #dbdbdb;
}